/* Variables */

:root{
    --backgruound-primary: #fff;
    --backgruound-secundary: #ddd;
    --backgruound-tertiary: #ccc;
    --backgruound-quaternary: #bbb;
    --backgruound-quinary: #aaa;
    --text-primary: black;
    --text-secundary: purple;
}

/* Noemalización */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backgruound-primary);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

/* Titulos */

h1{
    font-size: 3.12rem;
}

/* Subtítulos */

h2{
    padding: 20px 0;
    text-align: center;
    font-size: 2.2rem;
}