/* Cosas a tener en cuenta: 
En este documento se seguirán las siguientes normas a la hora de escribir estilos:
    1. propiedades de display internas: Cosas como "align-self"
    2. Propiedades que afecten al objeto: "Opacity, Visivility, object-fit..."
    3. Estilos relacionados al background
    4. Margin
    5. Border
    6. Outline
    7. Padding
    8. Width
    9. Hright
    10. Propiedades Font       
    11. Propiedades Text
    12. Color
    13. Position
    14. Propiedades relacionadas con Position 
    15. Display
    16. Propiedades relacionadas con display
    17. Animation
    18. Transform
    19. Transition
Tenga en cuenta que si hay varias propiedades en la misma categoía se usará el orden alfabético.
*/

/* Variables */

:root{
    --backgruound-primary: #fff;
    --backgruound-secundary: #ddd;
    --backgruound-tertiary: #ccc;
    --backgruound-quaternary: #bbb;
    --backgruound-quinary: #aaa;
    --text-primary: black;
    --text-secundary: purple;
}

/* Noemalización */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--backgruound-primary);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

/* Subtítulos */

h2{
    padding: 20px 0;
    text-align: center;
    font-size: 2.2rem;
}