/* footer */

footer{
    background: var(--backgruound-secundary);
    display: flex;
    flex-wrap: wrap;
}

.socialMedia{
    flex-grow: 4;
    padding: 15px;
    min-width: 25vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.socialMedia__network a{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.socialMedia__network i{
    margin: auto;
    padding: 20px;
    font-size: 2.8rem;
    transition: color .4s;
}

.socialMedia__network p{
    font-size: 1.5rem;
    text-align: center;
    transition: color .4s;
}

.socialMedia__network a:hover > i, .socialMedia__network a:hover > p{
    color: var(--text-secundary);
}

.textAndShields{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.schoolMotto{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.schoolMotto p{
    align-self: center;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: var(--text-primary);
    display: inline;
}

.schoolMotto p:nth-child(2){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 15px;
}

.shields{
    flex-grow: 1;
    padding: 15px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.shields img{
    object-fit: contain;
    max-width: 100px;
}

@media only screen and (max-width: 972px){
    .shields{
        padding-top: 10px;
    }
}