.usefulTools{
    margin-right: 15px;
    border: 8px solid var(--text-secundary); 
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.usefulTools section{
    flex-grow: 1;
}

/* usefulButtons */

.usefulButtons{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
}

.function{
    flex-basis: calc(100%/3 - 15px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.function__image{
    object-fit: contain;
    margin: 5px;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.function__text{
    text-align: center;
    font-size: 0.8rem;
}

/* usefulLinks */

.usefulLinks{
    display: flex;
    flex-direction: column;
}

.usefulLinks h2{
    text-align: center;
    font-size: 2.2rem;
}

.usefulLinks ul{
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link__item{
    list-style: square;
    font-size: 1.8rem;
    text-align: justify;
    padding-bottom: 15px;
}

.link__item a{
    transition: color 0.1s;
}

.link__item a:link{
    color: var(--text-secundary);
}

.link__item a:visited{
    color: var(--text-secundary);
}

.link__item a:hover{
    color: var(--backgruound-quinary);
}

.link__item a:active{
    color: rgb(160, 94, 160);
}

@media only screen and (max-width: 1577px){

    .usefulTools{
        margin-left: 15px;
    }

    .usefulButtons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 5px;
    }

    .function{
        width: min(130px,100%);
    }

    .link__item{
        line-height: 1.5;
    }
}