/* Layout */

body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "news news aside"
    "information information information"
    "footer footer footer"
    ;
    grid-template-columns: repeat(3,1fr);
}

.header{
    grid-area: header;
}

.novelties{
    grid-area: news;
    margin-top: 25px;
}

.usefulTools{
    grid-area: aside;
    margin-top: 25px;
}

.information{
    grid-area: information;
}

.footer{
    grid-area: footer;
}

/* novelties__part2 */

.novelties__part2{
    margin: auto;
    width: 90%;
    display: flex;
}

.novelties__part2 section{
    flex-grow: 1;
}

.photoBook{
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photoBook img{
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

@media only screen and (max-width: 1577px){

    body{
        display: block;
    }

}


@media only screen and (max-width: 800px){
    .novelties__part2{
        flex-direction: column;
    }
}