/* Layout */

body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "news news aside"
    "information information information"
    "footer footer footer"
    ;
    grid-template-columns: repeat(3,1fr);
}

.header{
    grid-area: header;
}

.novelties{
    grid-area: news;
    margin-top: 25px;
}

.usefulButtons{
    grid-area: aside;
    margin-top: 25px;
}

.information{
    grid-area: information;
}

.footer{
    grid-area: footer;
}

@media only screen and (max-width: 1577px){

    body{
        display: block;
    }

}