/* Edición del Menú */

.menuContainer{
    background: var(--backgruound-secundary);
    border: 1px var(--text-primary) solid;
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.menuBtn, .subMenuBtn__icon{
    display: none;
}

.menuContainer img{
    place-self: center;
    padding: 25px 0;
    width: 90px;
}

.menu{
    display: flex;
    gap: 47px;
    justify-content: space-evenly;
}

.menu__li{
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.menu__li a{
    display: block;
}

.menu__li:hover a{
    color: var(--text-secundary);
    transition: color .4s;
}

.containerSubMenu:hover a{
    color: var(--text-primary);
}

.subMenu{
    opacity: 0;
    visibility: hidden;
    background-color: var(--backgruound-tertiary);
    border: 2px solid var(--text-secundary);
    width: 35rem;
    position: absolute;
    top: 150%;
    z-index: 1;
    transition: opacity 0.2s, visibility 0.2s;
}

.containerSubMenu:hover > .subMenu{
    opacity: 1;
    visibility: visible;
}

.subMenu__li{
    border-bottom: 1px solid var(--text-primary);
    padding: 15px;
    padding-left: 1.2rem;
    list-style: none;
}

.subMenu__li a{
    display: block;
}

.subMenu__li:hover a{
    color: var(--text-secundary);
    transition: color .4s;
}

@media only screen and (max-width: 1482px){

    .menuBtn{
        cursor: pointer;
        background-color: var(--backgruound-primary);
        border-bottom: 1px solid black;
        padding: 15px;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        z-index: 100;
        display: block;
    }

    .menuBtn::after{
        content: "Menú";
        margin-left: 15px;
        font-weight: bold;
    }

    .menuContainer{
        border-top: none;
        width: 100%;
        position: absolute;
        z-index: 1;   
        transform: translateY(-150%); 
        transition: transform 0.5s;
    }

    .showMenu{
        transform: translateY(0);
    }

    .menu{
        display: block;
    }

    .menu__li{
        border-left: 1px dashed var(--backgruound-quinary);
        border-top: 1px dashed var(--backgruound-quinary);
        padding: 15px;
        text-align: left;
    }

    .subMenuBtn__icon{
        margin-left: 15px;
        color: var(--text-primary);
        display: inline;
    }

    .subMenu{
        opacity: 1;
        overflow: hidden;
        visibility: visible;
        border: none;
        width: 100%;
        height: 0;
        position: static;
        display: block;
        transition: all 0.5s;
    }

    .subMenu__li{
        text-align: center;
    }

}