.pagePrevew{
    overflow: hidden;
    margin: 15px;
    border: 1px solid var(--text-primary);
    position: relative;
    transition: box-shadow 0.7s;
}

.pagePrevew:hover{
    box-shadow: 10px 10px 30px #777;
}

.pagePrevew__description{
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(89, 89, 175, 0.5 );
    padding: 25px;
    height: 270px;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
    position: absolute;
    z-index: 1;
    display: flex;
    transform: translateY(-100%);
    transition: transform 0.7s, visibility 0.7s;
}

.pagePrevew__description p{
    margin: auto;
}

.pagePrevew:hover > .pagePrevew__description{
    overflow: hidden;
    visibility: visible;
    transform: translate(0);
}