/* Noemalización */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

/* Banner */
.banner{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Edición del Índice */

.menu-container{
    background: rgb(224, 224, 224);
    border: 1px black solid;
    padding: 15px;
    position: sticky;
    top: 0%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.menu-btn, .submenu-btn__icon{
    display: none;
}

.menu-container img{
    place-self: center;
    width: 90px;
    padding: 25px 0;
}

.menu{
    padding: 3vh;
    display: flex;
    justify-content: space-evenly;
    gap: 47px;
}
.nav__li{
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav__li:hover a{
    transition: color .4s;
    color: purple;
}

.container-submenu:hover a{
    color: black;
}

.submenu{
    width: 35rem;
    background-color: #ccc;
    border: 2px solid purple;
    position: absolute;
    transition: opacity 0.2s, visibility 0.2s;
    opacity: 0;
    visibility: hidden;
}

.container-submenu:hover > .submenu{
    opacity: 1;
    visibility: visible;
}

.submenu__li{
    list-style: none;
    padding: 15px;
    padding-left: 1.2rem;
    border-bottom: 1px solid black;
}

.submenu__li:hover a{
    transition: color .4s;
    color: purple;
}

/* Edición del main */

main{
    background-color: white;
}

/* Subtítulos */
h2{
    text-align: center;
    padding: 20px 0;
    font-size: 2.2rem;
}

/* Galerías */

.galería{
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(605px , 1fr));
    justify-content: center;
    gap: 15px;
}

.galería article{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.galería__imágen{
    height: 175px;
    object-fit: contain;
}

.galería__video{
    height: 175px;
    align-self: center;
}

.galería__texto{
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
}
.galería a{
    transition: color .4s;
}

.galería a:hover{
    color: purple;
}

/* Tablas */
.tabla__resposive{
    width: 85%;
    margin: 0 auto 50px auto;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
}

.tabla__resposive-columna{
    min-width:min-content;
    flex-grow: 1;
}

.tabla__responsive-header{
    background: #aaa;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    padding: 17px 40px;
    border: black solid 1px;
}

.tabla__responsive-celda a{
    font-size: 1.1rem;
}

.tabla__responsive-celda{
    padding: 15px 40px;
    border: black solid 1px;
    transition: background-color 0.3s;
}

.tabla__responsive-celda:nth-child(odd){
    background: #ddd;
}

.tabla__responsive-celda:hover{
    background: #bbb;
}

/* footer */
footer{
    background: rgb(224, 224, 224);
    display: flex;
    flex-wrap: wrap;
}

.lema__colegio{
    flex-grow: 1;
    padding: 15px;
    display: flex;
}

.lema__colegio img{
    flex-grow: 1;
    max-width: 100px;
    margin-right: 5%;
    object-fit: contain;
}

.lema__colegio p{
    flex-grow: 2;
    align-self: center;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: inline;
}

.redes__sociales{
    flex-grow: 4;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.redes__sociales-red a{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.redes__sociales-red i{
    margin: auto;
    padding: 20px;
    font-size: 2.8rem;
    transition: color .4s;
}

.redes__sociales-red p{
    font-size: 1.5rem;
    text-align: center;
    transition: color .4s;
}

.redes__sociales-red a:hover > i, .redes__sociales-red a:hover > p{
    color: purple;
}

@media only screen and (max-width: 1577px) {
    .menu-btn{
        background-color: white;
        display: block;
        position: relative;
        z-index: 100;
        padding: 15px;
        font-size: 1.5rem;
    }

    .menu-btn::after{
        content: "Menú";
        margin-left: 15px;
    }

    .menu-container{
        position: absolute;
        top: 54px;
        width: 100%;
        transition: transform 0.5s;
        transform: translateY(-150%); 
        z-index: 10;   
    }

    .show-menu{
        transform: translateY(0);
    }

    .menu{
        display: block;
    }

    .nav__li{
        text-align: left;
        padding: 15px;
        border-top: 1px dashed #aaa;
        border-left: 1px dashed #aaa;
    }

    .submenu-btn__icon{
        display: inline;
        margin-left: 15px;
        color: #aaa;
    }

    .submenu{
        display: block;
        height: 0;
        padding-left: 30px;
        overflow: hidden;
        transition: all 0.5s;
        position: static;
        opacity: 1;
        visibility: visible;
        border: none;
        width: 100%;
    }
}