/* Noemalización */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(sources/Images/Imágen_colegio.jpg);
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 94vh;
}

a{
    color: black;
    text-decoration: none;
}

/* Edición del ÍNdice */

nav{
    background: rgb(236, 191, 191);
    width: 100%;
}
nav ul{
    text-align: center;
    padding: 10px;
}
.nav__li{
    display: inline;
    list-style: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.nav__li:hover{
    background-color: rgb(55, 55, 100);
}

/* Edición del main */

main{
    background-color: white;
}

/* Subtítulos */
h2{
    text-align: center;
    padding: 20px 0;
}

/* Galerías */

.galería{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galería__imágen{
    height: 150px;
}

.galería__texto{
    text-align: center;
    padding: 5px;
}