/* Noemalización */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(sources/Images/Imágen_colegio_Jan.jpg);
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 90vh;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

/* Edición del Índice */

nav{
    background: white;
    border-bottom: 1px black solid;
}
nav ul{
    text-align: center;
    padding: 3vh 0;
}
.nav__li{
    display: inline;
    padding: 20px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: black;
}

.nav__li:hover a{
    transition: color .7s;
}

.nav__li:hover a{
    color: purple;
}

/* Edición del main */

main{
    background-color: white;
}

/* Subtítulos */
h2{
    text-align: center;
    padding: 20px 0;
}

/* Galerías */

.galería{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galería article{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.galería__imágen{
    height: 175px;
    object-fit: contain;
}

.galería__texto{
    text-align: center;
    padding: 5px;
}

.galería__video{
    align-self: center;
}