body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    background: linear-gradient(var(--backgruound-primary) 60%, var(--backgruound-secundary));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.misionYVision{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mision__text, .vision__text{
    text-align: justify;
    padding: 25px;
}

.mision__text p, .vision__text p{

    font-size: 1.4rem;
    line-height: 1.5;

}

.principalText{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1398px){

    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

}