.form__container{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form{
    margin: 0 5%;
    border: 10px inset var(--text-secundary);
    padding: min(50px, 5%);
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.form__container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.form__container form div{
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    gap: 15px;
}

.form__container form div input{
    transition: outline 0.1s;
}

.form__container form input:focus{
    outline: 3px solid var(--text-secundary);
}

.form__container form div label:hover{
    cursor: pointer;
}

.form img{
    width: 150px;
}